<%= form_tag("/search", method: "post") do %>
  <td>  <%= text_field_tag(:q) %> </td>
  <td>  <%= text_field_tag(:q_desc) %> </td>
  <td>  <%= text_field_tag(:q_image) %> </td>
  <td>  <%= text_field_tag(:q_price) %> </td>
  <td>  <%= text_field_tag(:q_store) %> </td>
  <%= hidden_field_tag(:account_id, params[:account_id]) %>
  <%= hidden_field_tag(:store_id, params[:store_id]) %>
  <td><%= submit_tag("Apply Filter") %></td>
<% end %>

